.counttitle{
  font-family: Lobster, cursive;
  color:orangered;

}
.btn{
    font-family: Lobster,cursive;
    font-size: medium;
    border-radius: 10px ;
    border:0;
    outline: 0;
    padding:15px;
    cursor: pointer;
    color:black;
  }
  
  .btn-upcount{
    background-color:deepskyblue;
    box-shadow: 5px 5px green;
  
  }
  
  .btndowncount{
    background-color:chartreuse;
    box-shadow: 5px 5px rgb(221, 90, 14);

  
  }
  .btnreset{
    background-color: red;
    box-shadow: 5px 5px blueviolet;

  }
