.mockapp{
    background-color: coral;
}
.inputfield{
    background-color: bisque;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-button{
    width: 100px;
    padding: 5px;
    border-radius: 50px;
    border: none;
}

.list-div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 30px;
    width:550px;

    
}