@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
     height: 100vh;
     width: 100vw;
     background-color: darkblue;
     color: white;
}

.flex-item{
    margin-top: 3rem;
}
.input-field{
    padding:1rem;
    width: 15rem;
    border: 3px solid green;
    outline: none;
    border-radius: 15px;
    font-family: 'Goblin One', cursive;

}
.input-field:hover{
    background-color:springgreen;

}
.add-button{
    padding: 1rem;
    font-family: 'Pattaya','san-serif';
    border: 3px solid rosybrown;
    border-radius: 15px;
    cursor: pointer;

}
.add-button:hover{
    background-color: tomato;
}

.newlist{
    background-color: thistle;
    border: 3px solid red;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    color: black;
    font-family: 'Pattaya', sans-serif;


}
.deleteicon{
    margin-left: 20rem;
    cursor: pointer;
}