
.App{
  text-align: center;
  background-color:black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color:orangered;
  font-family: Lobster, cursive;

}
.btn{
  font-family: Lobster,cursive;
  font-size: medium;
  border-radius: 10px ;
  border:0;
  outline: 0;
  padding:15px;
  cursor: pointer;
}

.btn-upcount{
  background-color:deepskyblue;
  font-family: Lobster,cursive;
  font-size: medium;
  border-radius: 10px ;
  border:0;
  outline: 0;
  padding:15px;
  cursor: pointer;

}

.btndowncount{
  background-color:chartreuse;
  font-family: Lobster,cursive;
  font-size: medium;
  border-radius: 10px ;
  border:0;
  outline: 0;
  padding:15px;
  cursor: pointer;

}

